## Problem Statement No. 02
Perform the following operations on Age-Income dataset (Age-Income-Dataset.csv)
1) Provide summary statistics (mean, median, minimum, maximum, standard deviation) for numeric variables with and
without using any library functions.
2) Provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each
response to the categorical variable.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#without using library function
df=pd.read_excel(r"D:\OneDrive\Desktop\Desktop\New folder\Datasets\Age-Income-Dataset.xlsx")
df.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [3]:
df.isnull().sum()

Age       0
Income    0
dtype: int64

In [34]:
def mean(arr):
    return sum(arr)/len(arr)
def median(arr):
    n=len(arr)
    arr=sorted(arr)
    if n%2==0:
        mid1=(n//2)-1
        mid2=n//2
        return (arr[mid1]+arr[mid2])//2
    else :
        return arr[n//2]
def mode(arr):
    n=len(arr)
    res=0
    max=-9999
    a=set(arr)
    for i in a:
        count= arr[arr==i].count()
        if count>max:
            max=count
            res=i
    return res,max
def minimum(arr):
    return sorted(arr)[0]
def maximum(arr):
    return sorted(arr)[-1]
def var(arr):
    mean=sum(arr)/len(arr)
    var=sum((x-mean)**2 for x in arr)//(len(arr)-1)
    return var
print(mean(df["Income"]))
print(median(df["Income"]))
print(mode(df["Income"]))
print(minimum(df["Income"]))
print(maximum(df["Income"]))
print(var(df["Income"]))

50966.0
46850
(80000, 2)
15000
93000
445070044.0

In [17]:
df.describe()

             Income
count     50.000000
mean   50966.000000
std    21096.683268
min    15000.000000
25%    33475.000000
50%    46850.000000
75%    65400.000000
max    93000.000000

In [24]:
# with functions
print(df["Income"].mean())
print(df["Income"].median())
print(df["Income"].mode())
print(df["Income"].min())
print(df["Income"].max())
print(df["Income"].var())
print(df["Income"].std())

50966.0
46850.0
0    23000
1    25600
2    45000
3    65400
4    80000
Name: Income, dtype: int64
15000
93000
445070044.8979592
21096.683267707253

In [31]:
print(np.mean(df["Income"]))
print(np.median(df["Income"]))
print(np.min(df["Income"]))
print(np.max(df["Income"]))
print(np.var(df["Income"]))
print(np.std(df["Income"]))

50966.0
46850.0
15000
93000
436168644.0
20884.6509187968

In [44]:
df.groupby("Age")["Income"].agg(["mean","median","min","max","count","var","std"])

,mean,median,min,max,count,var,std
Age,,,,,,,
Middle Age,52453.333333,53200.0,25600,93000,15,4.201598e+08,20497.800114
Old,53942.105263,45300.0,24500,89700,19,4.354804e+08,20868.165968
Young,46037.500000,41500.0,15000,87000,16,4.998292e+08,22356.859499

In [48]:
df.groupby("Age")["Income"].agg(
    avg_income='mean',
    income_std='std',
    min_income='min',
    max_income='max'
)

              avg_income    income_std  min_income  max_income
Age
Middle Age  52453.333333  20497.800114       25600       93000
Old         53942.105263  20868.165968       24500       89700
Young       46037.500000  22356.859499       15000       87000